<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
</head>
<body>
    <a>-- Your profile --</a>
    <p th:text="|ID : ${user.id}|"></p>
    <p th:text="|Name : ${user.name}|"></p>
    <p th:text="|Password : ${user.password}|"></p>
    <p th:text="|Roles : ${user.roles}|"></p>
    <br>
    <a th:href="@{/}" th:text="|Home page|"></a>
    <br>
    <a th:href="@{/logout}" th:text="|Logout|"></a>
</body>
</html>