<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:if="${user} != null" th:text="|User ${user.lastName} ${user.name}|"></title>
    <title th:if="${user} == null" th:text="|User not found!|"></title>
</head>
<body>
    <div th:if="${user} != null">
        <p th:text="|ID : ${user.id}|"></p>
        <p th:text="|Last name : ${user.lastName}|"></p>
        <p th:text="|Name : ${user.name}|"></p>
        <p th:text="|Height : ${user.height}|"></p>
    </div>
    <h1 th:if="${user} == null" th:text="|User not found|"></h1>
    <a th:href="@{/users}">Back</a>
</body>
</html>