<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <table cellspacing="20">
        <caption>Users</caption>
        <div th:each="user : ${users}">
            <tr>
                <td>
                    <a th:href="@{/users/{id}(id=${user.getId()})}"
                       th:text="|${user.getLastName()} ${user.getName()}|"></a>
                </td>
                <td><a th:href="@{/users/{id}/edit(id=${user.id})}">Update info</a></td>
                <td><a th:href="@{/users}">Delete user</a> </td>
            </tr>
        </div>
    </table>
    <a th:href="@{/users/new}" th:text="|Create user|"></a>
</body>
</html>